body{
	overflow: unset;
	background-color: lightgrey;
}
/* addits */
#navvy{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: rgb(7,51,96);
}
#logo{
	margin-top: -3px;
	margin-left: -60px;
}
#logo img{
	width: 150px;
	height: 40px;
}
#search{
	margin-left: 55px;
	margin-top: 0px;
	height: 40px; 
	width: 470px; 
	border-radius: 0px; 
	background-image:url(../img/find.jpg); 
	background-position: 50px -15px; 
	background-repeat: no-repeat; 
	padding-left: 100px; 
	background-size: 70px; 
	font-size: 13px;
}
.user{
	margin-left: 420px;
}
.userdp{		
	margin-left: 380px;
	width: 50px !important; 
	height: 50px !important; 
	border-radius: 30px !important; 
	border-radius: 30px !important; 
	background-color: white; 
	float: left;
}
.userdp img{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border-radius: 50px;
}
.userinfo{
	float: left;
}
.username{
	margin-left: 440px;
	color: white !important;
	position: absolute;
	font-size: 15px;
	margin-top: 9px; 
}
.about{
	margin-left: 440px;
	margin-top: 26px;
	position: absolute;
	font-size: 12px; 
	color: lightgrey; 
	font-weight: normal;
}

/* BODY */
.main-section{
	padding-top: 55px;
	background-color: lightgrey;
	height: 100vh;
}
.left-section{
		background-color: transparent;
		height: 75%;
}
.right-section{
		background-color: transparent;
		height: 75%;
}
.display-picture{
	padding-top: 5px;
	border-radius: 5px;
	width: 85px;
	height: 75px;
	margin: auto;
	background-color: white;
	margin-bottom: 10px;
}
.d-p{
	margin: auto;
	background-color: red;
	width: 60px;
	height: 60px;
	border-radius: 100px;
}
.d-p img{
	width: 60px;
	height: 60px;
	border-radius: 100px;
}

.middle-section{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	background-color: white;
}
.top{
	text-align: right;
	padding-right: 45px;
	padding-top: 3px;
	background-color: white;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: lightgrey;
	height: 40px;
}
.top p{
	margin-top: 7px;
	font-size: 14px;
}
.here{
	color: #ffc107;
}
.pass-conf{
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}
.input-1 input{
	padding: 12px;
}
label{
	color: grey;
	font-size: 10px;
}
.input-2 input{
	padding: 12px;
	margin-bottom: 10px;
}

.btn {
	background-color: transparent;
	height: 40px;
	width: 100px;
	background: #f9a206 linear-gradient(#f9a206, #f9a206) repeat-x;
	font-size: 17px;
	color: #fff;
	border-style: hidden;
}

.headertwo{
	padding-top: 15px;
	margin-bottom: 10px;
	height: 50px;
	background-color: white;
}
.headertwo img{
}
.headertwo ul li {
	/*padding-left: 10px;*/
	margin-top: 10px;
	display: inline;
	margin: 10px;
	color: grey;
}
.headertwo li:hover a{
	text-decoration: none !important;
	color: black !important;
}
.headertwo li:active a{
	text-decoration: none !important;
	color: black !important;
}
.headertwo li:focus a{
	text-decoration: none !important;
	color: black !important;
}
.headertwo li:visited a{
	text-decoration: none !important;
	color: black !important;
}
.headertwo  li.d a{
	font-size: 14px;
	color: grey;
}
.headertwo  li.set a{
	font-size: 14px;
	color: black;
}
.headertwo  li.r a{
	height: 20px;
	font-size: 14px;
	color: grey;
}
.headertwo  li.r img{
	width: 10px;
	height: 10px;
}
.headertwo  li.c a{
	font-size: 14px;
	color: grey;
}
.headertwo  li.c img{
	width: 10px;
	height: 10px;
}
.headertwo  li.s a{
	font-size: 14px;
	color: grey;
}
.headertwo  li.set a{
	font-size: 14px;
	color: black;
}
#nav-two{
	margin-bottom: 10px;
}
#nav{
	color: white;

}
#active-page{
	color: black;
}
.footer{
	margin-top: 10px;
    width: 100%;
    height: 30px;
	background-color: grey;
	color: white;
	text-align: center;
}
.footer p{
	font-size: 14px;
}

/* RESPONSIVENESS */

@media screen and (min-width: 1024px) {
    body {
        overflow: hidden !important;
    }
}
@media screen and (max-width: 1024px) {
    #navvy {
        padding-left: 100px !important;
    }
    #search{
    	margin-left: 0px !important;
    }
    .user{
    	float: left !important;
    }
}