
body {
    padding-top: 54px;
    background: #EAECEC;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.navbar {
  background-color: rgb(7,51,96);
}
/* header-btn */
.message {
  float: left; 
  padding-left: 15px;
}
.container .header-btn {
  color: #000;
  background: #fff;
  margin-top: 8.6em; 
  border: none;
  border-radius: 0px;
  padding-right: 40px;
  padding-left: 40px;  
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-btn:hover {
  background: #18A1D5;
  color: #fff;
  box-shadow: 5px 5px 5px #111;
}

/* search */
.search-box input::placeholder {
  font-size: 13px;
  padding-left: 60px;
}


#search-bar {
  border-radius: 0px;
  background-image: url('../img/search2.png');
  background-repeat: no-repeat;
  padding: 10px;
  background-position: 30px 8px;
}

.search-box {
  margin-left: 10em;
}
.search-i {
  float: left;
  padding-right: 20px;
  margin-right: 0px;
  /*margin-top: -20px;*/
  position: relative;
  z-index: 2;
  color: grey;
}

/* page content */
.page-content {
  margin-top: 1.2em;
}

.main-content {
  border: 1px solid rgba(0, 0, 0, 0.06); 
}

/* side bar */
.side-bar {
  background-color: #fff;
/*  margin-left: 5.7em;*/

}
.side-img {
  height: 90px;
  width: 100px;
  padding-right: 15px;
  padding-top: 5px;
}


/* jmb header */
.jumbotron-header {
  background-color: #fff;
  height: 300px;
  box-shadow: 0px 15px 10px -15px #111;
}
.my-3 {
  height: 250px;
  background-image: url('../img/Skype-mom.jpg');
  border-radius: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; 
}
.section-nav {
  padding-left: 10em;
}
.img-thumbnail {
  margin-top: 5em; 
  border-radius: 0px;
}
/* main-img */
.main-img {
  height: 130px;
  width: 130px;

}
.main-row {
  padding-left: 20px; 
}

.media img{
  width: 50px;
  height: 50px;
}

/*.five-col img{
  width: 150px;
  height: 150px
}*/