body{
	font-family: Segoe UI;
	margin: 0px;
	padding: 0px;
}
.containermain a{
	color: grey;
	text-decoration: none;
}
.containermain{
	background-color: #eae7e7;
	background-color: rgb(234 231 231);
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

/*addits */
#navvy{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: rgb(7,51,96);
}
#logo{
	margin-top: -3px;
	margin-left: -60px;
}
#search{
	margin-left: 55px;
	margin-top: 0px;
	height: 40px; 
	width: 470px; 
	border-radius: 0px; 
	background-image:url(../img/find.jpg); 
	background-position: 50px -15px; 
	background-repeat: no-repeat; 
	padding-left: 100px; 
	background-size: 70px; 
	font-size: 13px;
}
.user{
	margin-left: 420px;
}
.userdp{		
	margin-left: 290px;
	width: 50px !important; 
	height: 50px !important; 
	border-radius: 30px !important; 
	border-radius: 30px !important; 
	background-color: white; 
	float: left;
}
.userdp img{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border-radius: 50px;
}
.userinfo{
	float: left;
}
.username{
	margin-left: 350px;
	color: white !important;
	position: absolute;
	font-size: 15px;
	margin-top: 9px; 
}
.about{
	margin-left: 350px;
	margin-top: 26px;
	position: absolute;
	font-size: 12px; 
	color: lightgrey; 
	font-weight: normal;
}



.headertwo{
	padding-top: 5px;
	margin-top: 67px;
	height: 40px;
	background-color: white;
}
.headertwo img{
}
.headertwo ul li{
	display: inline;
	margin: 10px;
	color: grey;
}
.headertwo li:hover a{
	text-decoration: none !important;
	color: black !important;
}
.headertwo li:active a{
	text-decoration: none !important;
	color: black !important;
}
.headertwo li:focus a{
	text-decoration: none !important;
	color: black !important;
}
.headertwo li:visited a{
	text-decoration: none !important;
	color: black !important;
}
.headertwo  li.d a{
	font-size: 14px;
	padding-left: 10px;
	color: grey;
}
.headertwo  li.set a{
	font-size: 14px;
	padding-left: 10px;
	color: black;
}
.headertwo  li.r a{
	height: 20px;
	font-size: 14px;
	padding-left: 17px;
	color: grey;
}
.headertwo  li.r img{
	width: 10px;
	height: 10px;
}
.headertwo  li.c a{
	font-size: 14px;
	padding-left: 12px;
	color: grey;
}
.headertwo  li.c img{
	width: 10px;
	height: 10px;
}
.headertwo  li.s a{
	font-size: 14px;
	color: grey;
}
.headertwo  li.set a{
	font-size: 14px;
	color: black;
}



	.dir{
		background-color: transparent;
		position: fixed;
		top: 130px;
		left: 120px;
	}
	.dir ul li {
		text-decoration: none;
		list-style: none;
		list-style-type: none;
		display: block;
		color: grey;
		font-size: 14px;
		margin-bottom: 2px;
	}
	.dir li.a a{
		color: black;
	}
	.dir li:hover a{
		color: black;
	}
	.dir li:focus a{
		color: black;
	}
	.dir li:active a{
		color: black;
	}





	.profileupdate{
		font-weight: bold;
		padding: 10px;
		position: fixed;
		top: 120px;
		left: 300px;
		right: 180px;
		bottom: 50px;
		background-color: white;
	}
	
	.oneone{
		font-size: 13px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: lightgrey;
		background-color: white;
		width: 100%;
		height: 45px;
		margin: 0 auto;
	}
	.twotwo{
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: lightgrey;
		background-color: white;
		width: 100%;
		height: 130px;
		margin: 0 auto;
	}

	.three{
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: lightgrey;
		background-color: white;
		width: 100%;
		height: 60px;
		margin: 0 auto;
	}
	.four{
		background-color: white;
		width: 100%;
		height: 200px;
	}





.footer{
	background-color: grey;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: white;
	height: 30px;
	text-align: center;
	padding: 0px;
}
.footer p{
	font-size: 14px;
	position: fixed;
	left: 100px;
	right: 100px;
	bottom: -8px;
}